*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--gray-200);
}
:root{
    --red:#E3646E;
    --purple:#BB72E9;
    --blue:#3996DB;
    --yellow:#EABD5F;
    --green:#82BC4F;

    --gray-100:#0D0E11;
    --gray-200:#16181D;
    --gray-300:#292C34;
    --gray-400:#878EA1;
    --gray-500:#C0C4CE;
    --gray-600:#E2E4E9;

    --font-asap:"Asap", sans-serif;
    --title-lg:bold 56px/1.2 var(--font-asap); 
    --title-md:bold 24px/1.2 var(--font-asap); 
    --title-sm:bold 16px/1.2 var(--font-asap);

    --font-incon: "Inconsolata", sans-serif;
    --subtitle: 200 20/1.2 var(--font-incon);

    --font-maven:"Maven Pro", sans-serif;
    --text-md:100 16px/1.4 var(--font-maven);
    --text-sm:500 14px/1.4 var(--font-maven);

}

.container{
    padding-inline: 163px;
}

.subtitle{
    font: var(--subtitle);
    font-family: var(--font-incon);
}
.red{
    color: var(--red);
}
.yellow{
    color: var(--yellow);

}
.blue{
    color: var(--blue);
}
.green{
    color: var(--green);
    
}
.purple{
    color: var(--purple);
}
.grid{
    display: grid;
    
}  
